/* font-family: 'Source Sans Pro', sans-serif; */

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-align: center;
}

/**********
TYPOGRAPHY
**********/
h1, h2 {
    margin: 0;
}

h1 {
    font-size: 2.25rem;
    color: #FFF;
    font-weight: 300;
}

h1 + p,
h2 {
    font-size: 1.3125rem;
}

h1 ~ p,
h2 + p,
.btn-primary {
    font-weight: 900;
    color: #F18119;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.fine-print {
    font-size: .625rem;
    color: #989898;
}

strong {
    font-weight: 900;
}


/***********
Layout
***********/
h1,
h2,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.container > * {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.container-intro {
    background-image: url(../images/ribs.jpg);
    background-color: #6e737a;
    background-blend-mode: multiply;
    min-height: 50vh;
    background-size: cover;
    justify-content: space-between;
    padding-bottom: 2em;
}

.container-main {
    padding: 2em 0;
}

h2 + p {
    margin-bottom: 1.5em;
}

.top-text {
    order: -1;
    border-top: 5px solid orange;
    padding-top: .25em;
    border-image: linear-gradient(to right, #FFA51D, #FF713B) 1;
}

form > * {
    margin-top: .5em;
    margin-bottom: .5em;
    width: 85%;
}

input {
    font-family: inherit;
    text-align: inherit;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #818181;
    transition: transform 250ms;
}

input:focus {
    transform: scale(1.05);
}
.button {
    display: inline-block;
}
.btn-primary {
    color: white;
    font-size: .625rem;
    border-radius: 6px;
    border: 0;
    padding: .5em 0;
    background-image: linear-gradient(to right, #FFA51D, #FF713B);
    cursor: pointer;
    transition: all 250ms;
}

.btn-primary:hover,
.btn-primary:focus {
    color: black;
    transform: scale(1.05);
}

@media (min-width: 500px) {
    body {
        display: flex;
        font-size: 1.125rem;
    }
    
    h1 {
        font-size: 3.5rem;
    }

    h1 + p,
    h2 {
        font-size: 1.75rem;
    }
    
    .top-text,
    .fine-print {
        font-size: .625rem;
    }

    .container {
        width: 50%;
        height: 100vh;
    }

    .container-main {
        justify-content: center;
    }
}



